<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socializer - </title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Socializer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="nav-index" class="active"><a href="/">
              <span class="glyphicon glyphicon-home"></span>
              Home
            </a></li>
            <li id="nav-people"><a href="/people">
              <span class="glyphicon glyphicon-user"></span>
              People
            </a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-tags" style="margin-right:5px;"></span>
                Groups <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Add group...</a></li>
                <li class="divider"></li>
                <li><a href="#">Stockholm <span class="badge pull-right">83</span></a></li>
                <li><a href="#">Technology <span class="badge pull-right">45</span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-calendar"></span>
                Events <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Add event...</a></li>
                <li class="divider"></li>
                <li><a href="#">2014-05-14 Lunch</a></li>
                <li><a href="#">2014-05-14 Dinner</a></li>
                <li><a href="#">2014-05-15 Lunch</a></li>
              </ul>
            </li>
            <li id="nav-plan"><a href="#">
              <span class="glyphicon glyphicon-th"></span>
              Seating Plan
            </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-save"><a href="#">
              <span class="glyphicon glyphicon-floppy-save"></span>
              Save
            </a></li>
            <li id="nav-open"><a href="#">
              <span class="glyphicon glyphicon-floppy-open"></span>
              Open
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" id="content">
      <div class="row">
        <div class="col-sm-12">
          <h1>A Header</h1>
          <p>Some nice content here.</p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
