<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snippet</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="lib/eternicode-bootstrap-datepicker-1.3.0-0-g37db99f/datepicker3.css">

  </head>
  <body>
    <div class="container" id="content">
      <form role="form" method="post" action="/events">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group">
              <label for="event-name">Event Name</label>
              <input type="text" id="event-name" name="event-name" class="form-control" />
            </div>
          </div>
        <div class="row">
        </div>
          <div class="col-sm-offset-3 col-sm-2">
            <div class="form-group">
              <label for="date">Date</label>
              <div class="input-group date">
                <input id="date" name="date" type="text" class="form-control" />
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="hour">Hour</label>
              <select class="form-control" name="hour" id="hour">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="minute">Minute</label>
              <select class="form-control" name="minute" id="minute">
                <option value="00">00</option>
                <option value="05">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-3">
            <div class="form-group">
              <label for="placement-algorithm">Placement Algorithm</label>
              <select class="form-control" name="placement-algorithm" id="placement-algorithm">
                <option value="sorted">Sorted</option>
                <option value="random">Random</option>
                <option value="greedy">Greedy</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="distance-algorithm">Distance Algorithm</label>
              <select class="form-control" name="distance-algorithm" id="distance-algorithm">
                <option value="chair-agnostic">Chair Agnostic</option>
                <option value="chair-conscious">Chair Conscious</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
              <label for="tables">Tables</label>
              <textarea id="tables" name="tables" class="form-control" rows="7"></textarea>
              <p class="help-block pull-right">
                One table per line on the format:<br/>
                "[unique name] {rect, circ} [number of chairs]"
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
              <label for="people">Participants</label>
              <textarea id="people" name="people" class="form-control" rows="10"></textarea>
              <p class="help-block pull-right">One unique name per line</p>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="lib/eternicode-bootstrap-datepicker-1.3.0-0-g37db99f/bootstrap-datepicker.js"></script>
    <script>
      $('.input-group.date').datepicker({
          format: "yyyy-mm-dd",
          weekStart: 1,
          autoclose: true,
          todayHighlight: true
      });
    </script>

  </body>
</html>
