<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snippet</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="content">
      <div class="event container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h3>
              <span class="event-date">2014-02-25</span> <span class="event-time">12:00</span> <small class="event-name">Lunch</small>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <table class="person-sorted-table-placement table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="text-right">Table</th>
                  <th>Chair</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-placement">
                  <td class="person-name">Alice</td>
                  <td class="table-name text-right">A</td>
                  <td class="chair">0</td>
                </tr>
                <tr class="demo">
                  <td>Bob</td>
                  <td class="text-right">A</td>
                  <td>1</td>
                </tr>
                <tr class="demo">
                  <td>Charlotte</td>
                  <td class="text-right">A</td>
                  <td>2</td>
                </tr>
                <tr class="demo">
                  <td>Dave</td>
                  <td class="text-right">A</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--
          <div class="col-sm-4">
            <table class="table-grouped-table-placement table table-striped table-condensed">
              <thead>
                <tr>
                  <th class="text-right">Chair</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-group-header info">
                  <th colspan="2">Table <span class="table-name">A</span></th>
                </tr>
                <tr class="table-group-row">
                  <td class="chair text-right">0</td>
                  <td class="person-name">Alice</td>
                </tr>
                <tr class="demo">
                  <td class="text-right">1</td>
                  <td>Bob</td>
                </tr>
                <tr class="demo">
                  <td class="text-right">2</td>
                  <td>Charlotte</td>
                </tr>
                <tr class="demo">
                  <td class="text-right">3</td>
                  <td>Dave</td>
                </tr>
              </tbody>
            </table>
          </div>
          -->
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <!--<button class="btn btn-xs btn-link" data-toggle="modal" data-target="#distance-matix-0">Social Distance:</button>-->
            Social Distance:
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60%</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--
      <div class="modal fade" id="distance-matix-0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Social Distance Matrix</h4>
            </div>
            <div class="modal-body">
                  <div style="width:75%; height:480px; border: 2px dotted gray;"></div>
                  <p></p>
            </div>
          </div>
        </div>
      </div>
      -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
